@font-face {
    font-family: "Interstate-Light";
    src: url("/assets/fonts/interstate-light-cond-58b64220b1490.otf");
}
@font-face {
    font-family: "Interstate-bold";
    src: url("/assets/fonts/interstate-bold-cond-58b64162258ca.otf");
}
@font-face {
    font-family: "Interstate-black";
    src: url("/assets/fonts/interstate-black-cond-58b642507872b.otf");
}
@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/Gilroy-ExtraBold.otf");
}
@font-face {
    font-family: "SpaceGrotesk-Bold";
    src: url("/assets/fonts/SpaceGrotesk-Bold.ttf");
}
@font-face {
    font-family: "SpaceGrotesk-Medium";
    src: url("/assets/fonts/SpaceGrotesk-Medium.ttf");
}
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1600px;

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }
 
 html {
    height: 100vh;
    overflow-x: hidden;
}
body {
    margin: 0;
    overflow-x: hidden;
    // background: #FCF8EC;
}

.landing { 
    max-width: 100%;
    // background: #001738;
    z-index: -1;
    #myVideo {
        position: absolute;
        z-index: -1;
        opacity: 1;
        @include md  {
            height: 120vh;
        }
    }
    // background-image: url("../assets/lights.jpg");
    nav {
        // z-index: 5;
        font-size: 1.1rem;
        padding-top: 10px;
        @include sm {
            font-size: 1em;
        }
        .logo {
            // margin-top: -10px;
            width: 100px;
            @include sm {
                display: none;
            }
        }
        display: flex;
        width: 100%;
        justify-content: space-around;
        .links {
            width: 40%;
            display: flex;
            justify-content: space-around;
            font-family: "SpaceGrotesk-Medium";
            cursor: pointer;
            color: whitesmoke;
            margin-left: 40%;
        }
        a {
            margin-top: 16px;
            text-decoration: none;
            // background: #182C49;
            color: white;
            width: 70px;
            text-align: center;
            padding-top:7.5px;
            border-radius: 4px;
            font-family: "SpaceGrotesk-Medium";
        }
    }
    .content {
        height: 100vh;
        .animate__animated.animate__fadeInDown {
            // --animate-delay: 3s;
            --animate-duration: 2s;
          }
        p {
            @include xl {
                font-size: 5rem;
            }
            font-family: "SpaceGrotesk-Medium";
            font-size: 4rem;
            // z-index: 2;
            color: white;
            width: 100%;
            text-align: center;
            margin-top: 15%;
            // top: 30%;
            // left: 50%;
            // transform: translate(-50%, -30%);
        }
        .sub {
            text-align: center;
            width: 100%;
            display: flex;
            justify-content: center;
            .virt {
                @include xl {
                    font-size: 6rem;
                }
                position: absolute;
                color: #FB675A;
                font-size: 5rem;
                margin-top: 10px;
                font-family: "SpaceGrotesk-Bold";
                top: 50%;
            }
            a {
                color: #001738;
                font-family: "SpaceGrotesk-Medium";
                margin-top: 10%;
                // border: 1px solid;
                background: white;
                // border-color: #FB675A ;
                padding: 13px 20px;
                border-radius: 4px;;
                cursor: pointer;
                i {
                    position: relative;
                    top: 5%;
                    left: 5%;
                }
            }
        }
        width: 100%;
        height: 95vh;
        background-position: 0px -270px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.about {
    .story {
        font-family: "Gilroy";
        font-size: 4rem;
        text-align: center;
        color: #00233C;
        margin: 0;
    }
    .list {
        overflow: hidden;
        .head {
            font-family: "Gilroy";
            font-size: 2.75rem;
            color: #FB675A;
            text-align: center;
            margin-top: 7%;
        }
        .row {
            margin-top: 5%;
            display: flex;
            width: 100%;
            .circle {
                width: 100%;
                height: 400px;
                // border-radius: 100%;
                // background-color: #001738;
                // background: url("../assets/blue-snow.png");
                position: absolute;
                top: 100%;
                right: 10%;
                clip-path: polygon(100% 0, 0% 100%, 100% 100%);
                        }
            .intro {
                text-align: center;
                width: 100%;
                display: flex;
                justify-content: center;
                p {
                    @include xl {
                        font-size: 1.75rem;
                    }
                    font-family: "Interstate-light";
                    font-size: 1.5rem;
                    max-width: 50%;
                    line-height: 50px;
                    color: #111111;
                }
            }
            .left {
                width: 40%;
                display: flex;
                justify-content: center;
                @include xl {
                    font-size: 5rem;
                }
                font-size: 4rem;
                font-family: "Gilroy";
                p {
                    color: #111111;
                }
                span {
                    color: #FB675A;
                }
            }
            .right {
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    width: 75%;
                    @include xl {
                        font-size: 1.5rem;
                    }
                    font-size: 1.25rem;
                    font-family: "Interstate-light";
                    line-height: 50px;
                    color: #111111;
                }
            }
            .left-n {
                width: 75%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    @include xl {
                        font-size: 1.75rem;
                    }
                    font-family: "Interstate-light";
                    font-size: 1.35rem;
                    max-width: 70%;
                    line-height: 50px;
                    color: #111111;
                }
            }
            .right-n {
                width: 50%;
                display: flex;
                justify-content: center;
                margin: 0;
            }
            img {
                position: relative;
                right: 7%;
                top: 30%;
            }
        }
        .board {
            width: 100%;
            // background-color: #001738;
            display: flex;
            justify-content: space-around;
            // height: 20vh;
            align-items: center;
            margin-top: 5%;
            flex-direction: column;
            overflow:hidden;
            p {
              color: #001738;  
              font-family: "Interstate-light";
              font-size: 2rem;
            }
            .init {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                margin-bottom: 2%;
            }
            .head2 {
                margin-top: 50px;
                font-family: "Gilroy";
                font-size: 3em;
            }
        }
        .end {
            width:70%;
            margin: 0 auto;
            margin-top: 5%;
            p {
                font-family: 'Interstate-light';
                font-size: 1.25em;
                line-height: 35px;
            }
        }
        .bot {
            margin-bottom: 30px;
            width: 100%;
            text-align: center;
            margin-top: 5%;
            .button {
                font-family: "Interstate-bold";
                background: #FB675A;
                color: #F9FAFC;
                padding: 20px 40px;
                cursor: pointer;
                margin:0 auto;
                font-size: 1.15rem;
                border-radius: 4px;
            }
        }
    }
}
.testimonials {
    height: 100vh;
    position: relative;
    h1 {
        font-family: "Interstate-Black";
        font-size: 50px;
        padding-top: 2em;
        margin-left: 7.5%;
        color: white;
    }
    .data {
        height: 100%;
        clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
        background: #001738;
    }
    .cards {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 25%;
        right: 0%;
        @include sm {
            justify-content: center;
            width: 100%;
            height: 600px;
        }
        .card {
            margin-right: 50%;
            height: 120px;
            width: 400px;
            background: #F9FAFC;
            border-radius: 3px;
            margin-bottom: 15%;
            box-shadow: 0px 12px 30px 0px rgba(0,0,0,0.14);
            @include sm {
                margin-right: 0;
                margin: 0 auto;
                width: 350px;
                margin-bottom: 20px;

            }
        }
        .card:nth-child(2) {
            margin-right: 120%;
            z-index: 2;
            @include sm {
                z-index: 0;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
    }
    .card-3 {
        height: 120px;
        width: 400px;
        background: #F9FAFC;
        border-radius: 3px;
        box-shadow: 0px 12px 30px 0px rgba(0,0,0,0.14);
        position: absolute;
        top: auto;
        margin-top: -11%;
        right: 20%;
    }
}

.team {
    h1 {
        font-family: "Interstate-Black";
        font-size: 50px;
        padding-top: 2em;
        margin-left: 7.5%;
    }
    .pics {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        @include sm {
            flex-direction: column;
        }
        .wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            #sam, #lucien, #japs {
                border-radius: 50%;
                margin: 0 auto;
                width: 50%;
                box-shadow: (10px 13px 11px rgba(229,233,242,1));
                @include sm {
                    width: 30%;
                    margin-top: 20px;
                }
            }
            p {
                font-family: "Interstate-Bold";
                font-size: 1.25em;
                // width: 150px;
                margin: 0 auto;
                margin-top: 20px;
                // margin-right: 20px;
            }
            p:nth-child(3n) {
                font-family: "Interstate-Light";
                font-size: 1em;
                // width: 100px;
                // margin: 0 auto;
                margin-top: 20px;
            }
        }
    }
}
.footer {
    background: #001738;
    color: white;
    padding: 20px;
    margin-top: 50px;
    .foots {
        display: flex;
        justify-content: space-evenly;
        font-family: "Interstate-Bold";
        font-family: 1em;
        .foot1 {
            a {
                text-decoration: none;
                color: #FB4D3D;
            }
            .address {
                p:nth-child(2n+1) {
                    font-size: 1.2em;
                }
                p:nth-child(2n) {
                    line-height: 30px;
                }
            }
        }
        .foot2 {
            .follow {
                p {
                    font-size: 1.2em;
                }
                .social {
                    a {
                        text-decoration: none;
                        color: #F9FAFC;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}