@font-face {
    font-family: "Interstate-Light";
    src: url("/assets/fonts/interstate-light-cond-58b64220b1490.otf");
}
@font-face {
    font-family: "Interstate-bold";
    src: url("/assets/fonts/interstate-bold-cond-58b64162258ca.otf");
}
@font-face {
    font-family: "Interstate-black";
    src: url("/assets/fonts/interstate-black-cond-58b642507872b.otf");
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }
 
html {
    height: 100vh;
}
body {
    margin: 0;
}

.landing {
    max-width: 100%;
    background: #F9FAFC;
    nav {
        font-size: 1.1rem;
        padding-top: 10px;
        @include sm {
            font-size: 1em;
        }
        .logo {
            margin-top: 16px;
            width: 100px;
            @include sm {
                display: none;
            }
        }
        display: flex;
        width: 100%;
        justify-content: space-around;
        .links {
            width: 60%;
            display: flex;
            justify-content: space-around;
            font-family: "Interstate-Bold";
            cursor: pointer;
        }
        a {
            margin-top: 16px;
            text-decoration: none;
            background: #182C49;
            color: white;
            width: 70px;
            text-align: center;
            padding-top:7.5px;
            border-radius: 4px;
            font-family: "Interstate-Black";
        }
    }
    .content {
        display: flex;
        height: 90vh;
        .image {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include sm {
                display: none;
            }
            .wrap {
                filter: drop-shadow(7px 14px 19px rgba(70,70,70,0.26));
                margin-left: 150px;
            }
            .img-hold {
                width: 300px;
                height: 470px;
                background: #001738;
                clip-path: polygon(0 14%, 100% 0, 100% 83%, 0 100%);
                overflow: hidden;
                margin-right: 10px;
            }
        }
        .text {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            color: #001738;
            text-align: center;
            @include sm {
                width: 100%;
            }
            h1 {
                font-family: "Interstate-Black";
                font-size: 145px;
                margin: 0;
                @include sm {
                    font-size: 100px;
                }
            }
            p {
                font-family: "Interstate-Light";
                font-size: 30px;
            }
            a {
                font-family: "Interstate-Light";
                text-decoration: none;
                background: #FB4D3D;
                width: 150px;
                height: 30px;
                padding-top: 10px;
                color: white;
                opacity: 0.85;
                -webkit-box-shadow: 4px 7px 15px 0px rgba(180,72,62,0.37);
                -moz-box-shadow: 4px 7px 15px 0px rgba(180,72,62,0.37);
                box-shadow: 4px 7px 15px 0px rgba(180,72,62,0.37);
                margin: 0 auto;
                margin-top: 10px;
            }
        }
    }
}

.about {
    height: 60vh;
    img {
        position: absolute;
        right: 0px;
        z-index: -2;
        @include sm {
            display: none;
        }
    }
    h1 {
        font-family: "Interstate-Black";
        font-size: 40px;
        padding-top: 3em;
        margin-left: 3em;
        @include sm {
            padding-top: 0px;
            margin: 0;
            margin-top: 30px;
            text-align: center;
        }
    }
    p {
        max-width: 70%;
        font-family: "Interstate-Light";
        font-size: 23px;
        margin-left: 5em;
        line-height: 40px;
        @include sm {
            font-size: 18px;
            padding: 30px 30px 0 30px;
            max-width: 100%;
            margin: 0;
            // text-align: center;
        }
    }
}

.events {
    h1 {
        font-family: "Interstate-Black";
        font-size: 40px;
        padding-top: 3em;
        margin-left: 7.5%;
        @include sm {
            margin: 0 auto;
            text-align: center;
        }
    }
    .edisp {
        display: flex;
        flex-direction: column;
        @include sm {
            .row {
                display: flex;
                flex-direction: column;
            }
        }
        .row {
            display: flex;
            justify-content: space-around;
            max-width: 100%;
            margin-left: 7.5%;
            .left {
                width: 50%;
                .num, .title {
                    font-family: "Interstate-Bold";
                    font-size: 1.75em;
                }
                .desc {
                    font-family: "Interstate-Light";
                    font-size: 1.15em;
                    line-height: 30px;
                    max-width: 75%;
                }
            }
            .right {
                width: 50%;
                .holder {
                    display: flex;
                    justify-content: center;
                    img {
                        -webkit-box-shadow: -7px 25px 29px 0px rgba(70,70,70,0.31);
                        -moz-box-shadow: -7px 25px 29px 0px rgba(70,70,70,0.31);
                        box-shadow: -7px 25px 29px 0px rgba(70,70,70,0.31);
                    }
                    
                }
            }
        }
        .row:nth-child(2n) {
            margin-top: 4em;
            display: flex;
            justify-content: space-around;
            max-width: 100%;
            margin-left: 7.5%;
            .right {
                width: 50%;
                margin: 0 auto;
                .num, .title {
                    font-family: "Interstate-Bold";
                    font-size: 1.75em;
                }
                .desc {
                    font-family: "Interstate-Light";
                    font-size: 1.15em;
                    line-height: 30px;
                    max-width: 75%;
                }
            }
            .left {
                width: 50%;
                .holder {
                    display: flex;
                    align-items: center;
                    img {
                        -webkit-box-shadow: -7px 25px 29px 0px rgba(70,70,70,0.31);
                        -moz-box-shadow: -7px 25px 29px 0px rgba(70,70,70,0.31);
                        box-shadow: -7px 25px 29px 0px rgba(70,70,70,0.31);
                    }
                    
                }
            }
        }
    }
}

.services {
    h1 {
        font-family: "Interstate-Black";
        font-size: 40px;
        padding-top: 3em;
        margin-left: 7.5%;
    }
    .content {
        display: flex;
        .title {
            position: relative;
            width: 50%;
            background: #001738;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .name {
                color: white;
                font-family: "Interstate-Bold";
                font-size: 3em;
                text-align: center;
            }
            i {
                right: 40px;
                top: 366px;
                font-size: 1em;
                color: white;
                cursor: pointer;
            }
            // .slick-arrow {
            //     border: none;
            //     width: 20px;
            //     height: 20px;
            //     border-radius: 50%;
            // }
            // .slick-next:before {
            //     content: '->';
            // }
        }
        .options {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family:  "Interstate-Light";
            font-size: 2em;
        }
    }
    
}

.resources {
    height: 100vh;
    h1 {
        font-family: "Interstate-Black";
        font-size: 40px;
        padding-top: 1em;
        margin-left: 7.5%;
    }
    .map {
        display: flex;
        .left-re {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            .tab {
                width: 100%;
            }
            .row {
                
            }
            .resource-p {
                font-family: "Interstate-Light";
                padding: 30px;
                cursor: pointer;
            }
        }
        
        .right {
            width: 50%;
            height: 100vh;
            #map {
                width:100%;
                height:100%;
            }
            .marker {
                // background-image: url('../../assets/brc.png');
                background-size: cover;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}

.timeline {
    margin-top: 120px;
    height: 50vh;
    h1 {
        font-family: "Interstate-Black";
        font-size: 40px;
        padding-top: 1em;
        margin-left: 7.5%;
    }
    .time {
        display: flex;
        justify-content: space-around;
        .line1 {
            .date {
                display: inline;
                font-family: "Interstate-Black";
                font-size: 2em;
                p {
                    display: inline;
                }
            }
        }
    }
}

.testimonials {
    height: 100vh;
    position: relative;
    h1 {
        font-family: "Interstate-Black";
        font-size: 50px;
        padding-top: 2em;
        margin-left: 7.5%;
        color: white;
    }
    .data {
        height: 100%;
        clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
        background: #001738;
    }
    .cards {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 25%;
        right: 0%;
        .card {
            margin-right: 50%;
            height: 120px;
            width: 400px;
            background: #F9FAFC;
            border-radius: 3px;
            margin-bottom: 15%;
            box-shadow: 0px 12px 30px 0px rgba(0,0,0,0.14);
        }
        .card:nth-child(2) {
            margin-right: 120%;
            z-index: 2;
        }
    }
    .card-3 {
        height: 120px;
        width: 400px;
        background: #F9FAFC;
        border-radius: 3px;
        box-shadow: 0px 12px 30px 0px rgba(0,0,0,0.14);
        position: absolute;
        top: auto;
        margin-top: -11%;
        right: 20%;
    }
}

.team {
    h1 {
        font-family: "Interstate-Black";
        font-size: 50px;
        padding-top: 2em;
        margin-left: 7.5%;
    }
    .pics {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        .wrap {
            filter: drop-shadow(10px 13px 11px rgba(229,233,242,1));
            .holder {
                clip-path: circle(30% at 40% 40%);
            }
            p {
                font-family: "Interstate-Bold";
                font-size: 1.25em;
                width: 150px;
                margin: 0 auto;
                // margin-right: 20px;
            }
            p:nth-child(3n) {
                font-family: "Interstate-Light";
                font-size: 1em;
                width: 100px;
                margin: 0 auto;
                margin-top: 20px;
            }
        }
    }
}