@font-face {
  font-family: "Interstate-Light";
  src: url("/assets/fonts/interstate-light-cond-58b64220b1490.otf"); }

@font-face {
  font-family: "Interstate-bold";
  src: url("/assets/fonts/interstate-bold-cond-58b64162258ca.otf"); }

@font-face {
  font-family: "Interstate-black";
  src: url("/assets/fonts/interstate-black-cond-58b642507872b.otf"); }

html {
  height: 100vh;
  overflow-x: hidden; }

body {
  margin: 0;
  overflow-x: hidden; }

.landing {
  max-width: 100%;
  background: #F9FAFC; }
  .landing nav {
    font-size: 1.1rem;
    padding-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around; }
    @media (max-width: 576px) {
      .landing nav {
        font-size: 1em; } }
    .landing nav .logo {
      margin-top: 16px;
      width: 100px; }
      @media (max-width: 576px) {
        .landing nav .logo {
          display: none; } }
    .landing nav .links {
      width: 60%;
      display: flex;
      justify-content: space-around;
      font-family: "Interstate-Bold";
      cursor: pointer; }
    .landing nav a {
      margin-top: 16px;
      text-decoration: none;
      background: #182C49;
      color: white;
      width: 70px;
      text-align: center;
      padding-top: 7.5px;
      border-radius: 4px;
      font-family: "Interstate-Black"; }
  .landing .content {
    display: flex;
    height: 90vh; }
    .landing .content .image {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 576px) {
        .landing .content .image {
          display: none; } }
      .landing .content .image .wrap {
        filter: drop-shadow(7px 14px 19px rgba(70, 70, 70, 0.26));
        margin-left: 150px; }
      .landing .content .image .img-hold {
        width: 300px;
        height: 470px;
        background: #001738;
        clip-path: polygon(0 14%, 100% 0, 100% 83%, 0 100%);
        overflow: hidden;
        margin-right: 10px; }
    .landing .content .text {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      color: #001738;
      text-align: center; }
      @media (max-width: 576px) {
        .landing .content .text {
          width: 100%; } }
      .landing .content .text h1 {
        font-family: "Interstate-Black";
        font-size: 145px;
        margin: 0; }
        @media (max-width: 576px) {
          .landing .content .text h1 {
            font-size: 100px; } }
      .landing .content .text p {
        font-family: "Interstate-Light";
        font-size: 30px; }
      .landing .content .text a {
        font-family: "Interstate-Light";
        text-decoration: none;
        background: #FB4D3D;
        width: 150px;
        height: 30px;
        padding-top: 10px;
        color: white;
        opacity: 0.85;
        -webkit-box-shadow: 4px 7px 15px 0px rgba(180, 72, 62, 0.37);
        -moz-box-shadow: 4px 7px 15px 0px rgba(180, 72, 62, 0.37);
        box-shadow: 4px 7px 15px 0px rgba(180, 72, 62, 0.37);
        margin: 0 auto;
        margin-top: 10px; }

.about {
  height: 60vh; }
  .about img {
    position: absolute;
    right: 0px;
    z-index: -2; }
    @media (max-width: 576px) {
      .about img {
        display: none; } }
  .about h1 {
    font-family: "Interstate-Black";
    font-size: 40px;
    padding-top: 3em;
    margin-left: 3em; }
    @media (max-width: 576px) {
      .about h1 {
        padding-top: 0px;
        margin: 0;
        margin-top: 30px;
        text-align: center; } }
  .about p {
    max-width: 70%;
    font-family: "Interstate-Light";
    font-size: 23px;
    margin-left: 5em;
    line-height: 40px; }
    @media (max-width: 576px) {
      .about p {
        font-size: 18px;
        padding: 30px 30px 0 30px;
        max-width: 100%;
        margin: 0; } }

.events h1 {
  font-family: "Interstate-Black";
  font-size: 40px;
  padding-top: 3em;
  margin-left: 7.5%; }
  @media (max-width: 576px) {
    .events h1 {
      margin: 0 auto;
      text-align: center; } }

.events .edisp {
  display: flex;
  flex-direction: column; }
  .events .edisp .row {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin-left: 7.5%; }
    @media (max-width: 576px) {
      .events .edisp .row {
        display: flex;
        flex-direction: column;
        margin-left: 2%; } }
    .events .edisp .row .left {
      width: 50%; }
      .events .edisp .row .left .num, .events .edisp .row .left .title {
        font-family: "Interstate-Bold";
        font-size: 1.75em; }
      .events .edisp .row .left .desc {
        font-family: "Interstate-Light";
        font-size: 1.15em;
        line-height: 30px;
        max-width: 75%; }
    .events .edisp .row .right {
      width: 50%; }
      .events .edisp .row .right .holder {
        display: flex;
        justify-content: center; }
        .events .edisp .row .right .holder img {
          -webkit-box-shadow: -7px 25px 29px 0px rgba(70, 70, 70, 0.31);
          -moz-box-shadow: -7px 25px 29px 0px rgba(70, 70, 70, 0.31);
          box-shadow: -7px 25px 29px 0px rgba(70, 70, 70, 0.31); }
  .events .edisp .row:nth-child(2n) {
    margin-top: 4em;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin-left: 7.5%; }
    @media (max-width: 576px) {
      .events .edisp .row:nth-child(2n) {
        margin-left: 0%; } }
    .events .edisp .row:nth-child(2n) .right {
      width: 50%;
      margin: 0 auto; }
      .events .edisp .row:nth-child(2n) .right .num, .events .edisp .row:nth-child(2n) .right .title {
        font-family: "Interstate-Bold";
        font-size: 1.75em; }
      .events .edisp .row:nth-child(2n) .right .desc {
        font-family: "Interstate-Light";
        font-size: 1.15em;
        line-height: 30px;
        max-width: 75%; }
    .events .edisp .row:nth-child(2n) .left {
      width: 50%; }
      .events .edisp .row:nth-child(2n) .left .holder {
        display: flex;
        align-items: center; }
        .events .edisp .row:nth-child(2n) .left .holder img {
          -webkit-box-shadow: -7px 25px 29px 0px rgba(70, 70, 70, 0.31);
          -moz-box-shadow: -7px 25px 29px 0px rgba(70, 70, 70, 0.31);
          box-shadow: -7px 25px 29px 0px rgba(70, 70, 70, 0.31); }

.services h1 {
  font-family: "Interstate-Black";
  font-size: 40px;
  padding-top: 3em;
  margin-left: 7.5%; }

.services .content {
  display: flex; }
  @media (max-width: 576px) {
    .services .content {
      flex-direction: column; }
      .services .content .rec {
        display: flex;
        position: relative; }
        .services .content .rec p {
          margin-left: 3em; }
        .services .content .rec i {
          height: 14px;
          position: absolute;
          top: 15px;
          right: 50px; } }
  .services .content .title {
    position: relative;
    width: 50%;
    background: #001738;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .services .content .title .name {
      color: white;
      font-family: "Interstate-Bold";
      font-size: 3em;
      text-align: center; }
    .services .content .title i {
      right: 40px;
      top: 366px;
      font-size: 1em;
      color: white;
      cursor: pointer; }
  .services .content .options {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Interstate-Light";
    font-size: 2em; }

.resources {
  height: 100vh; }
  .resources h1 {
    font-family: "Interstate-Black";
    font-size: 40px;
    padding-top: 1em;
    margin-left: 7.5%; }
  .resources .map {
    display: flex; }
    @media (max-width: 576px) {
      .resources .map {
        display: block; } }
    .resources .map .left-re {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh; }
      @media (max-width: 576px) {
        .resources .map .left-re {
          display: none; } }
      .resources .map .left-re .tab {
        width: 100%; }
      .resources .map .left-re .resource-p {
        font-family: "Interstate-Light";
        padding: 30px;
        cursor: pointer; }
    .resources .map .right {
      width: 50%;
      height: 100vh; }
      @media (max-width: 576px) {
        .resources .map .right {
          width: 100%;
          height: 75vh; } }
      .resources .map .right #map {
        width: 100%;
        height: 100%; }
      .resources .map .right .marker {
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer; }

.timeline {
  margin-top: 120px;
  height: 50vh; }
  @media (max-width: 576px) {
    .timeline {
      margin-top: -50px;
      height: auto; } }
  .timeline h1 {
    font-family: "Interstate-Black";
    font-size: 40px;
    padding-top: 1em;
    margin-left: 7.5%; }
  .timeline .time {
    display: flex;
    justify-content: space-around; }
    @media (max-width: 576px) {
      .timeline .time {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .timeline .time .line1 .date {
      display: inline;
      font-family: "Interstate-Black";
      font-size: 2em; }
      .timeline .time .line1 .date p {
        display: inline; }

.testimonials {
  height: 100vh;
  position: relative; }
  .testimonials h1 {
    font-family: "Interstate-Black";
    font-size: 50px;
    padding-top: 2em;
    margin-left: 7.5%;
    color: white; }
  .testimonials .data {
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
    background: #001738; }
  .testimonials .cards {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 25%;
    right: 0%; }
    @media (max-width: 576px) {
      .testimonials .cards {
        justify-content: center;
        width: 100%;
        height: 600px; } }
    .testimonials .cards .card {
      margin-right: 50%;
      height: 120px;
      width: 400px;
      background: #F9FAFC;
      border-radius: 3px;
      margin-bottom: 15%;
      box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.14); }
      @media (max-width: 576px) {
        .testimonials .cards .card {
          margin-right: 0;
          margin: 0 auto;
          width: 350px;
          margin-bottom: 20px; } }
    .testimonials .cards .card:nth-child(2) {
      margin-right: 120%;
      z-index: 2; }
      @media (max-width: 576px) {
        .testimonials .cards .card:nth-child(2) {
          z-index: 0;
          margin: 0 auto;
          margin-bottom: 20px; } }
  .testimonials .card-3 {
    height: 120px;
    width: 400px;
    background: #F9FAFC;
    border-radius: 3px;
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    top: auto;
    margin-top: -11%;
    right: 20%; }

.team h1 {
  font-family: "Interstate-Black";
  font-size: 50px;
  padding-top: 2em;
  margin-left: 7.5%; }

.team .pics {
  margin-top: 50px;
  display: flex;
  justify-content: center; }
  @media (max-width: 576px) {
    .team .pics {
      flex-direction: column; } }
  .team .pics .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .team .pics .wrap #sam, .team .pics .wrap #lucien, .team .pics .wrap #japs {
      border-radius: 50%;
      margin: 0 auto;
      width: 50%;
      box-shadow: 10px 13px 11px #e5e9f2; }
      @media (max-width: 576px) {
        .team .pics .wrap #sam, .team .pics .wrap #lucien, .team .pics .wrap #japs {
          width: 30%;
          margin-top: 20px; } }
    .team .pics .wrap p {
      font-family: "Interstate-Bold";
      font-size: 1.25em;
      margin: 0 auto;
      margin-top: 20px; }
    .team .pics .wrap p:nth-child(3n) {
      font-family: "Interstate-Light";
      font-size: 1em;
      margin-top: 20px; }
